<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Virtual Line Card</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <style>
    textarea {
        resize: none;
      }

      [v-cloak] {
        display: none;
      }
  </style>

</head>

<body>
  <div id="app" v-cloak>
    <div class="container">

      <div class="row well well-lg">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <ul class="nav nav-pills">
            <li class="dropdown" v-bind:class="{disabled: isOpen}">
              <a class="dropdown-toggle" v-bind:class="{disabled: isOpen}" data-toggle="dropdown" href="#"
                aria-expanded="false">
                {{selectedPort}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li v-for="port in ports">
                  <a href="#" v-on:click="selectPort">{{ port.comName }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Baudrate</span>
              <input v-model="baudrate" class="form-control" type="text" :disabled="isOpen">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button v-on:click="openSelectedPort" class="btn btn-primary" type="button">{{portStatus.msg}}</button>
          <button v-on:click="clearScreen" class="btn btn-info" type="button">Clear</button>
        </div>

      </div>
      <!-- row  -->

    </div>

    <div class="container-fluid">
      <textarea readonly class="form-control" v-bind:style="{height: textHeight + 'px'}" id="serialData"></textarea>
    </div>
  </div>

  <!--
      Insert this line above script imports
      this is done to make sure that jQuery is imported properly
    -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>

  <script src="https://unpkg.com/vue"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

<script>
  // You can also require other files to run in this process
  require('./renderer.js')
</script>

</html>
